/node_modules
/public/hot
/public/biodata/*
/public/lisensi/*
/public/foto_ijazah/*
/public/foto_lisensi/*
/public/qrcodes/*
/public/file_bukti_prestasi/*
/public/ijazah/*
/public/pekerjaan/*
/public/mandat
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
