.match-card {
    width: 300px;
    margin: 20px auto;
}

.club-icon {
    max-width: 50px;
    height: auto;
}

.news-img {
    width: 75%;
    height: auto;
}

.footer {
    background-color: #012866;
    color: #fff;
    padding: 10px 0;
}

.footer p {
    margin-bottom: 0;
}
